<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/inventory.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>

    <main class="management-container">
        <% if (title) { %>
            <h1><%= title %></h1>
        <% } else {
            res.redirect('/')
        } %>

        <%- messages() %>

        <div class="management-links">
            <p><a href="/inv/add-classification"><i class="fas fa-plus"></i> Add New Classification</a></p>
            <p><a href="/inv/add-inventory"><i class="fas fa-car"></i> Add New Vehicle</a></p>
        </div>
    </main>

</body>
</html>
