
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/error.css">

</head>
<body>
    <div id="">

        <main>
            <h1><%= title %></h1>
            <p><%= message %></p>
            <img src="/images/site/404.gif" alt="Confused Robot">
            <% if (title !== '404 Error') { %>
                <p>Our team has been notified of this error. We apologize for the inconvenience.</p>
            <% } %>
            <a href="/" class="button">Return to Home</a>
        </main>

    </div>
</body>
</html>
